/********************************************/
/********GENERAL CONFIGURATION***************/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/********************************************/
/******************MENU**********************/
.menu-container{
  color: #fff;
  background-color: #5995DA;  /* Blue */
  display: flex;
  justify-content: center;
}

.menu{
  width:900px;
  padding: 20px 0;
  /*border: 1px solid #fff;*/
  display:flex;
  justify-content: space-between;
}

.links{
  display: flex;
  justify-content: flex-start;
}

.login{
  margin-left: 15px;
}

/********************************************/
/*******************HEADER*******************/
.header-container{
  background-color: rgb(172, 177, 252);
  display: flex;
  justify-content: center;
}

.header{
  width: 900px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social,.subscribe{
  margin-bottom:20px;
  align-self: flex-end;
}

/************************************************/
/*******************PHOTO GRID*******************/
.photo-grid-container{
  display: flex;
  justify-content: center;
}

.photo-grid{
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.photo-grid-item{
  width: 300px;
  height: 300px;
}

.first-item {
  order: 1;
}

.last-item {
  order: -1;
}

/************************************************/
/*********************FOOTER*********************/
.footer{
  display: flex;
  justify-content: space-between;
}

.footer-item{
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 1;
}

/*All flexible items*/

/*.footer-one{
  flex: 1;
}
.footer-two{
  flex: 1;
}
.footer-three{
  flex: 2;
}*/

.footer-one,.footer-three{
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}