*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  flex-flow:row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > *{
  flex:1 100%;
  padding: 25px 0;
}

.header{
  background-color: tomato;
}

.main{
  background-color: deepskyblue;
}

.aside-1{
  background-color: gold;
}

.aside-2{
  background-color: hotpink;
}

.footer{
  background-color: lightgreen;
}

/**************************/
/******MEDIA QUERIES*******/

/* We tell both sidebars to share a row */
@media all and (min-width: 600px) {
  .aside{
    flex:1 auto;
  }
}

@media all and (min-width: 800px) {
  .main { flex: 2 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}